
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(95, 193, 238);
    vertical-align: baseline;
}

/* caixa da calculadora*/
form {
    outline: 2.5px solid #000;
    border-radius: 8px;
    max-width: 50vw;
    max-height:35vh;
    position: absolute;
    top: 30%;
    bottom: 30% ;
    padding: 16px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Input*/
#visor{
    max-width: 40vw;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 6px;
    border: 1px solid #000 ;
}

/* Buttons*/
.btn-border {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 3px;
}

@media screen (max-width: 410px) {
    
}